<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>

  <log4net>
    <appender name="Console" type="log4net.Appender.ConsoleAppender">
      <!--<filter type="log4net.Filter.LoggerMatchFilter">
        <loggerToMatch value="Subscriber.Decode.DecodeMessage" />
        <acceptOnMatch value="false" />
      </filter>-->
      <layout type="log4net.Layout.PatternLayout">
        <!-- Pattern to output the caller's file name and line number -->
        <conversionPattern value="%date{ISO8601} %5level [%thread] (%logger) - %message%newline" />
      </layout>
    </appender>

    <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
      <file value="subscriber.log" />
      <appendToFile value="true" />
      <maximumFileSize value="100MB" />
      <maxSizeRollBackups value="2" />

      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{ISO8601} %level [%thread] (%logger) - %message%newline" />
      </layout>
    </appender>

    <root>
      <level value="DEBUG" />
      <appender-ref ref="Console" />
      <appender-ref ref="RollingFile" />
    </root>
  </log4net>


  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <system.net>
    <!--<defaultProxy enabled="true">
      <proxy usesystemdefault="true" />
    </defaultProxy>-->
  </system.net>

  <!--<system.diagnostics>
    --><!-- In a dev/test environment you can set autoflush to true in order to autoflush to the log file. --><!--
      <trace autoflush="true">
        <listeners>
          <add name="storageListener" />
        </listeners>
      </trace>
      <sources>
        <source name="Microsoft.WindowsAzure.Storage">
          <listeners>
            <add name="storageListener" />
          </listeners>
        </source>
      </sources>
      <switches>
        <add name="Microsoft.WindowsAzure.Storage" value="Verbose" />
      </switches>
      <sharedListeners>
        <add name="storageListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="D:\Temp\_Logs\storage.log" traceOutputOptions="DateTime" />
      </sharedListeners>
  </system.diagnostics>-->


  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="lib" />
    </assemblyBinding>
  </runtime>


</configuration>